*{
    
    margin: 0;
    padding: 0;
}

body{
    background-image: url(Img/fondo_oscuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    font-size: 60px;
    color: whitesmoke;
    margin: 30px;
}

.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6%;
    margin-right: 3%;
    list-style: none;
    font-size: 30px;
    position: relative;

    
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: rgba(250, 111, 18, 0.596);
}


.submenu{
    list-style: none;
    visibility: hidden;
    position: absolute;
    
    top: 100%;
    margin-top: 20px;
    background-color: #f9f9f97a;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transition: visibility 0.5s; 

}

.desplegable:hover .submenu{
    visibility: visible;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(170, 85, 15);
}

li{
    margin: 10px;
}

span{
    font-size: small;
}

.eslogan{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    padding: 35px;
    background-color: #f9f9f97a;
}

h3{
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    width: 60%;
    color: rgba(255, 250, 240, 0.836);
    text-align: center;
}
ç